nav {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid #ddd;
}
nav h1 {
    display: flex;
    gap: 20px;
}
nav div {
    display: flex;
    gap: 20px;
}
nav a {color: #555;
text-decoration: none;}
nav a.active {
    color: #000;
    font-weight: bold;
}